<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="${blogDescription}" />
    <link rel="stylesheet" href="style.css">
    <title>${blogName}</title>
  </head>
  <body class="body">
    <nav class="nav">
      <div class="nav-content">
        <h1><a href="index.html">${blogName}</a></h1>
				<div id="search-btn">
          <div class="search">
            <div class="search__circle"></div>
            <div class="search__rectangle"></div>
          </div>
				</div>
      </div>
    </nav>
    <main>${articles}</main>
    <script src="socket.io.js"></script>
    <script>var socket = io();socket.on('refresh', (msg) => window.location.reload(true));</script>
  </body>
  <script src="app.js"></script>
</html>