@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

:root {
	--primary-color: rgb(42 42 42);
	--dark-color: rgb(42 42 42);
	--light-color: white;
	--nav-height: 4rem;
	--width: 800px;
}

a,
a:visited {
	text-decoration: none;
	color: var(--dark-color);
	font-weight: 400;
}

.body {
	min-height: 100vh;
	position: absolute;
	width: 100%;
	background-color: #fafafa;
	overflow-y: auto;
	overflow-x: hidden;
}

/* NAVBAR */

.nav {
	display: flex;
	background-color: var(--primary-color);
	width: 100%;
	height: var(--nav-height);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
}
.nav-content {
	width: 100%;
	max-width: var(--width);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav h1 a,
.nav h1 a:visited {
	font-size: 2rem;
	text-decoration: none;
	color: var(--light-color);
	font-weight: 600;
}

.nav ul {
	list-style: none;
	gap: 1rem;
	display: flex;
	color: var(--light-color);
	align-items: center;
	font-size: 1.2rem;
	justify-content: space-between;
}

.nav #search-btn {
	padding: .5rem;
	cursor: pointer;
}

/* PREVIEW ARTICLE */

.preview-article {
	margin: 0;
	padding: 3rem 0;
	border-radius: .25rem;
	transition: background .3s;
	border-bottom: 1px solid #e8e8e8;
}

.preview-article:hover .preview-article-header h1 {
	color: #de183e;
}

.preview-article p {
	color: #444;
	font-size: 1.1rem;
	line-height: 1.75rem;
}

.preview-article-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-items: flex-start;
	flex-direction: column-reverse;
}

.preview-article-header h1 {
	font-size: 1.75rem;
	font-weight: 600;
	padding: .25rem 0 .5rem;
}

p.preview-article-header_date {
	font-size: .8rem;
}

.article-footer {
	display: flex;
	padding: 0.5rem 0 0;
	justify-content: flex-end;
	align-items: center;
	color: #888888;
}

/* article */
.article-subtitle {
	padding: 1rem 0 .25rem;
}

.back {
	text-align: center;
	padding: 2rem;
	display: block;
}

main {
	width: 100%;
	max-width: var(--width);
	margin: 0 auto;
	margin-top: var(--nav-height);
	opacity: 0;
	animation: appear .5s forwards;
}

.article-container {
	margin: 0;
	padding: 0 0 4rem;
	font-size: 1.1rem;

	border-radius: .25rem;
	border-bottom: 1px solid #e8e8e8;
	display: flex;
	flex-direction: column;
}

.article-container pre {
	background-color: #f3f3f3;
	padding: 1rem;
	color: #444;
	font-weight: 300;
	border-radius: .5rem;
	margin: 1rem 0;
}

.article-container pre code {
	background-color: #f3f3f3;
	color: #444;
}

.article-container code {
	font-family: monospace;
	white-space: pre-wrap;
	overflow: hidden;
	word-break: break-word;
	font-size: 16px;
	font-weight: 300;
	border-radius: .5rem;
}

.article-container h2 {
	margin: 3rem 0 1.25rem;
	font-weight: 600;
}

.article-container h1 {
	padding: 2.5rem 0;
	font-weight: 600;
	font-size: 2.25rem;
	text-align: center;
}

.article-container a,
.article-container a:visited {
	color: #de183e;
	display: inline-block;
	position: relative;
}

.article-container a::before {
	content: '';
	border-bottom: 2px solid #de183e;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
}

.article-container p,
.article-container ul li,
.article-container ol li {
	color: #444;
	line-height: 1.75rem;
	font-stretch: 100%;
	font-weight: 400;
	font-size: 1.1rem;
	position: relative;
}

.article-container blockquote {
	background-color: #f3f3f3;
	padding: 1rem;
	border-left: .25rem solid #333;
}

.article-container ul,
.article-container ol {
	margin-left: 1rem;
}

.article-container code {
	background-color: #f3f3f3;
	padding: .125rem .25rem;
	border-radius: .125rem;
}
.article-container img {
	max-width: 100%;
	opacity: 0.9;
	margin-bottom: 1rem;
	width: 100%;
	border-radius: .25rem;
}
.article-container img + sub {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #888;
	font-size: .75rem;
}
.article-container .gallery > p {
	display: flex;
	overflow: auto;
	margin: 1.5rem 0;
}
.article-container .gallery img {
	margin-bottom: 0;
}

footer {
	padding: .5rem;
	display: block;
	font-size: .75rem;
	text-align: center;
}

@media screen and (max-width: 820px) {
	.article-container {
		padding: 0.5rem 1.5rem 0;
	}
	.preview-article {
		padding: 2.5rem 1.5rem;
	}
	.nav-content {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

/* icons */
.search {
	position: relative;
	margin-right: 6px;
}
.search__circle {
	width: 18px;
	height: 18px;
	border: 2px solid white;
	border-radius: 50%;
}

.search__rectangle {
	position: absolute;
	right: -6px;
	bottom: -2px;
	width: 12px;
	transform: rotate(45deg);
	border: 1px solid white;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
}
a.arrow-back {
	color: white;
	font-size: 2.25rem;
	font-weight: bold;
}
